<main class="w-full px-4 flex-1">
    <div class="sticky top-0 bg-white z-10 pb-6 ">
        <h2 class="text-4xl font-semibold mb-6 mt-2">Registrar Producto</h2>
        <div class="border-b-2 border-gray-300 w-full"></div>
    </div>

    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div
            class="bg-white rounded-lg shadow-xl p-4 sm:p-6 lg:p-8 max-h-[75vh] overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200">
            <form [formGroup]="productoForm" (ngSubmit)="onSubmit()" class="space-y-6">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <div>
                        <label class="block text-sm font-medium text-black mb-2">Código estándar <span
                                class="text-red-500">*</span></label>
                        <input type="text" formControlName="codigo_estandar"
                            class="w-full px-3 py-2 border rounded-md shadow-sm focus:ring-2 focus:ring-cyan-500" />
                    </div>

                    <div>
                        <label class="block text-sm font-medium text-black mb-2">Código producto <span
                                class="text-red-500">*</span></label>
                        <input type="text" formControlName="codigo_producto"
                            class="w-full px-3 py-2 border rounded-md shadow-sm focus:ring-2 focus:ring-cyan-500" />
                    </div>

                    <div>
                        <label class="block text-sm font-medium text-black mb-2">Nombre <span
                                class="text-red-500">*</span></label>
                        <input type="text" formControlName="nombre"
                            class="w-full px-3 py-2 border rounded-md shadow-sm focus:ring-2 focus:ring-cyan-500" />
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    <div>
                        <label class="block text-sm font-medium text-black mb-2">Unidad de medida <span
                                class="text-red-500">*</span></label>
                        <select formControlName="measurement_unit_id"
                            class="w-full px-3 py-2 border rounded-md shadow-sm focus:ring-2 focus:ring-cyan-500">
                            <option value="">Seleccione unidad</option>
                            <option *ngFor="let unit of measurementUnits" [value]="unit.id">
                                {{ unit.nombre }} ({{ unit.codigo_dian }})
                            </option>
                        </select>
                    </div>

                    <div>
                        <label class="block text-sm font-medium text-black mb-2">Precio unitario <span
                                class="text-red-500">*</span></label>
                        <input type="number" formControlName="precio_unitario" min="0.01" step="0.01"
                            class="w-full px-3 py-2 border rounded-md shadow-sm focus:ring-2 focus:ring-cyan-500" />
                    </div>

                    <div>
                        <label class="block text-sm font-medium text-black mb-2">Estado</label>
                        <select formControlName="estado"
                            class="w-full px-3 py-2 border rounded-md shadow-sm focus:ring-2 focus:ring-cyan-500">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                </div>

                <div>
                    <label class="block text-sm font-medium text-black mb-2">Descripción</label>
                    <textarea formControlName="descripcion" rows="3"
                        class="w-full px-3 py-2 border rounded-md shadow-sm focus:ring-2 focus:ring-cyan-500 resize-none"></textarea>
                </div>

                <div>
                    <label class="block text-sm font-medium text-black mb-2">Impuestos aplicados</label>
                    <div class="space-y-1 text-sm text-black">
                        <label class="block"><input type="checkbox" formControlName="impuestoIva" class="mr-2" />
                            IVA</label>
                        <label class="block"><input type="checkbox" formControlName="impuestoInc" class="mr-2" />
                            INC</label>
                        <label class="block"><input type="checkbox" formControlName="impuestoIca" class="mr-2" />
                            ICA</label>
                    </div>
                </div>

                <div class="col-span-full flex flex-col sm:flex-row justify-end gap-4 mt-6">
                    <button type="submit" [disabled]="productoForm.invalid || isLoading" class="w-full sm:w-auto bg-cyan-600 hover:bg-cyan-700 disabled:bg-gray-400 
                        text-white font-medium py-2 px-6 sm:px-10 rounded-md shadow-sm 
                        focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 text-center">
                        <span *ngIf="!isLoading">Guardar</span>
                        <span *ngIf="isLoading">Guardando...</span>
                    </button>

                    <button (click)="cancelar()" type="reset"
                        class="w-full sm:w-auto bg-gray-400 text-white px-6 py-2 rounded hover:bg-gray-500 text-center">
                        Cancelar
                    </button>
                </div>


            </form>
        </div>
    </div>
</main>